﻿
@{
    ViewData["Title"] = "ConsultarPessoasFisicas";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Consultar Pessoas Físicas<img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    <form asp-controller="PessoasFisicas" asp-action="ConsultarPessoasFisicasPost" method="post" onsubmit="disableObj(ConsultarBtn);showObj(loaderImg)">
        <table id="formularios">
            <tr>
                <th>
                    <label for="id">Código</label>
                    <br />
                    <input class="input input-sm" id="id" name="id" type="number" />
                </th>
                <th>
                    <label for="cpf">CPF</label>
                    <br />
                    <input class="input input-sm" id="cpf" name="cpf" type="text" />
                </th>
                <th>
                    <label for="nome">Nome</label>
                    <br />
                    <input class="input input-sm" id="nome" name="nome" type="text" />
                </th>
                <th>
                    <label for="descricao">RG</label>
                    <br />
                    <input class="input input-sm" id="rg" name="rg" type="text" />
                </th>
            </tr>
            <tr>
        </table>
        <table id="formularios">
            <tr>
                <th>
                    <button class="btn btn-default" id="ConsultarBtn" type="submit">Consultar</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />
    <table id="consultas">
        <tr>
            <th width="50">Cód.</th>
            <th width="120">CPF</th>
            <th width="250">Nome</th>
            <th width="10">Sexo</th>
            <th width="100">Data Nasc.</th>
            <th width="80">RG</th>
            <th width="300">Endereço</th>
            <th width="280">Telefones</th>
            <th width="280">E-mails</th>
            <th width="200">Ação</th>
        </tr>
        @foreach (var pessoafisica in ViewBag.pessoasfisicas)
        {
            <tr>
                <td>@pessoafisica.Id</td>
                <td>@pessoafisica.Cpf</td>
                <td>@pessoafisica.Nome</td>
                <td>@pessoafisica.Sexo</td>
                @if (pessoafisica.Data_nasc.ToString("dd/MM/yyyy") == "01/01/0001")
                {
                    <td></td>
                }
                else
                {
                    <td>@pessoafisica.Data_nasc.ToString("dd/MM/yyyy")</td>
                }
                <td>@pessoafisica.Rg</td>
                <td>@pessoafisica.Endereco</td>
                <td>@pessoafisica.Fones</td>
                <td>@pessoafisica.Emails</td>

                <td>
                    <a asp-area="" asp-controller="PessoasFisicas" asp-action="AcaoEditarPessoasFisicas" asp-route-id="@pessoafisica.Id"><img style="margin: 2px; width: 32px;" title="Editar pessoa física" src="~/images/editar.svg"></a>
                    <a asp-area="" asp-controller="PessoasFisicas" asp-action="AcaoFonesPessoaFisica" asp-route-id_pessoa_fisica="@pessoafisica.Id" asp-route-nome="@pessoafisica.Nome"><img style="margin: 2px; width: 26px;" title="Telefones" src="~/images/fone.svg"></a>
                    <a asp-area="" asp-controller="PessoasFisicas" asp-action="AcaoEmailsPessoaFisica" asp-route-id_pessoa_fisica="@pessoafisica.Id" asp-route-nome="@pessoafisica.Nome"><img style="margin: 2px; width: 26px;" title="E-mails" src="~/images/email.svg"></a>
                    <a asp-area="" asp-controller="PessoasFisicas" asp-action="ExcluirPessoasFisicas" asp-route-id="@pessoafisica.Id" onclick=" return Confirmar('Excluir pessoa física?')"><img style="margin: 2px; width: 32px;" title="Excluir pessoa física" src="~/images/excluir.svg"></a>
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || (ViewBag.linhasafetadas == 0 && ViewBag.excluindo))
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.excluindo)
            {
                <h4 style="color : green">pessoa física excluída.</h4>
            }
            else
            {
                @if (ViewBag.pessoasfisicas.Count == 0)
                {
                    <h5 style="color : red">Nenhum registro encontrado.</h5>
                }
            }

        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>



