﻿
@{
    ViewData["Title"] = "EditarPessoasFisicas";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Editar Pessoa Física <img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    @if (@ViewBag.id != 0)
    {
        <form asp-controller="PessoasFisicas" asp-action="EditarPessoasFisicasPost" method="post" onsubmit="disableObj(SalvarBtn);disableObj(CancelarBtn);showObj(loaderImg)">
            <label for="id">Código: @ViewBag.id</label>
            <input class="input input-sm" id="id" name="id" type="hidden" value="@ViewBag.id" />
            <table id="formularios">
                <tr>
                    <th>
                        <label for="cpf">CPF</label>
                        <br />
                        <input class="input input-sm" id="cpf" name="cpf" type="text" value="@ViewBag.cpf" />
                    </th>
                    <th>
                        <label for="nome">Nome</label>
                        <br />
                        <input class="input input-sm" id="nome" name="nome" type="text" value="@ViewBag.nome" />
                    </th>
                    <th>
                        <label for="sexo">Sexo</label>
                        <br />
                        <select class="input-sm" name="sexo">
                            @if (ViewBag.sexo == "M")
                            {
                                <option value="M" selected>Masculino</option>
                                <option value="F">Feminino</option>
                            }
                            else
                            {
                                <option value="M">Masculino</option>
                                <option value="F" selected>Feminino</option>
                            }
                        </select>
                    <th>
                        <label for="data_nasc">Data Nasc.</label>
                        <br />
                        <input class="input input-sm" id="data_nasc" name="data_nasc" type="date" value="@ViewBag.data_nasc" />
                    </th>
                    <th>
                        <label for="rg">RG</label>
                        <br />
                        <input class="input input-sm" id="rg" name="rg" type="text" value="@ViewBag.rg" />
                    </th>
                    <th>
                        <label for="Endereco">Endereço</label>
                        <br />
                        <input class="input input-sm" id="Endereco" name="Endereco" type="text" value="@ViewBag.endereco" />
                    </th>
                </tr>
                <tr>
                    <th>
                        <button class="btn btn-default" id="SalvarBtn" type="submit">Salvar</button>
                        <input class="btn btn-default" id="CancelarBtn" type="button" value="Cancelar" onclick="location.href='@Url.Action("RefazerUltimaConsultaPessoaFisica", "PessoasFisicas")'" />
                    </th>
                </tr>
            </table>
        </form>
    }
    else
    {
        <input class="btn btn-default" type="button" value="Voltar" onclick="location.href='@Url.Action("RefazerUltimaConsultaPessoaFisica", "PessoasFisicas")'" />
    }
    <hr />
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.linhasafetadas >= 1)
            {
                <h4 style="color : green">Pessoa Física atualizada.</h4>
            }

        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>





