﻿
@{
    ViewData["Title"] = "FonesPessoaFisica";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Telefones<img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    <table id="formularios">
        <tr>
            <th>
                <label for="id_pessoa_fisica">Código: @ViewBag.id_pessoa_fisica</label>
            </th>
            <th>
                <label for="nome">Nome: @ViewBag.nome</label>
            </th>
        </tr>
    </table>
    <hr />

    <form asp-controller="PessoasFisicas" asp-action="IncluirFonesPessoaFisicaPost" method="post" onsubmit="disableObj(ExcluirBtn);disableObj(CancelarBtn);showObj(loaderImg)">
        <table>
            <tr>
                <th>
                    <input class="input input-sm" id="id_pessoa_fisica" name="id_pessoa_fisica" type="hidden" value="@ViewBag.id_pessoa_fisica" />
                    <input class="input input-sm" id="nome" name="nome" type="hidden" value="@ViewBag.nome" />
                    <br />
                    <label for="fone">Telefone</label>
                    <br />
                    <input style="width:100%" class="input input-sm" id="fone" name="fone" type="text" value="@ViewBag.fone" />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                    <button class="btn btn-default" id="IncluirBtn" type="submit">Incluir</button>
                    <button class="btn btn-default" id="ConsultaBtn" asp-area="" asp-controller="PessoasFisicas" asp-action="RefazerUltimaConsultaPessoaFisica">Voltar</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />

    <table id="consultas">
        <tr>
            <th width=200>Telefone</th>
            <th width=100>Ação</th>
        </tr>
        @foreach (var fone_pf in ViewBag.fones_pf)
        {
            <tr>
                <td>@fone_pf.Fone</td>
                <td>
                    <a asp-area="" asp-controller="PessoasFisicas" asp-action="ExcluirFonePessoaFisica"
                       asp-route-id="@fone_pf.Id" asp-route-id_pessoa_fisica="@ViewBag.id_pessoa_fisica" asp-route-nome="@ViewBag.nome" 
                       onclick=" return Confirmar('Excluir telefone?')"><img style="margin: 5px; width: 32px;" title="Excluir telefone" src="~/images/excluir.svg"></a>
                </td>
            </tr>
        }
    </table>

    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>
