﻿
@{
    ViewData["Title"] = "IncluirPessoasFisicas";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Incluir Pessoa Física <img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />


    <form asp-controller="PessoasFisicas" asp-action="IncluirPessoasFisicasPost" method="post" onsubmit="disableObj(IncluirBtn);showObj(loaderImg)">
        <table id="formularios">
            <tr>
                <th>
                    <label for="cpf">CPF</label>
                    <br />
                    <input class="input input-sm" id="cpf" name="cpf" type="text" value="@ViewBag.cpf" />
                </th>
                <th>
                    <label for="nome">Nome</label>
                    <br />
                    <input class="input input-sm" id="nome" name="nome" type="text" value="@ViewBag.nome" />
                </th>
                <th>
                    <label for="sexo">Sexo</label>
                    <br />
                    <select class="input-sm" name="sexo">
                        <option disabled selected>Selecionar</option>
                        <option value="M" >Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                <th>
                    <label for="data_nasc">Data Nasc.</label>
                    <br />
                    <input class="input input-sm" id="data_nasc" name="data_nasc" type="date" value="@ViewBag.data_nasc" />
                </th>
                <th>
                    <label for="rg">RG</label>
                    <br />
                    <input class="input input-sm" id="rg" name="rg" type="text" value="@ViewBag.rg" />
                </th>
                <th>
                    <label for="Endereco">Endereço</label>
                    <br />
                    <input class="input input-sm" id="Endereco" name="Endereco" type="text" value="@ViewBag.endereco" />
                </th>
            </tr>
            <tr>
                <th>
                    <button class="btn btn-default" id="IncluirBtn" type="submit">Incluir</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.id == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            <h4 style="color : green">'Pessoa Física incluída. Código: @ViewBag.id</h4>
        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>
