﻿
@{
    ViewData["Title"] = "ConsultarPessoasJuridicas";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Consultar Pessoas Jurídicas<img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    <form asp-controller="PessoasJuridicas" asp-action="ConsultarPessoasJuridicasPost" method="post" onsubmit="disableObj(ConsultarBtn);showObj(loaderImg)">
        <table id="formularios">
            <tr>
                <th>
                    <label for="id">Código</label>
                    <br />
                    <input class="input input-sm" id="id" name="id" type="number" />
                </th>
                <th>
                    <label for="cnpj">CNPJ</label>
                    <br />
                    <input class="input input-sm" id="cnpj" name="cnpj" type="text" />
                </th>
                <th>
                    <label for="razao_social">Razão Social</label>
                    <br />
                    <input class="input input-sm" id="razao_social" name="razao_social" type="text" />
                </th>
                <th>
                    <label for="descricao">Nome Fantasia</label>
                    <br />
                    <input class="input input-sm" id="fantasia" name="fantasia" type="text" />
                </th>
            </tr>
            <tr>
        </table>
        <table id="formularios">
            <tr>
                <th>
                    <button class="btn btn-default" id="ConsultarBtn" type="submit">Consultar</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />
    <table id="consultas">
        <tr>
            <th width="50">Cód.</th>
            <th width="150">CNPJ</th>
            <th width="250">Razao Social</th>
            <th width="80">Fantasia</th>
            <th width="300">Endereço</th>
            <th width="280">Telefones</th>
            <th width="280">E-mails</th>
            <th width="200">Ação</th>
        </tr>
        @foreach (var pessoajuridica in ViewBag.pessoasjuridicas)
        {
            <tr>
                <td>@pessoajuridica.Id</td>
                <td>@pessoajuridica.Cnpj</td>
                <td>@pessoajuridica.Razao_social</td>
                <td>@pessoajuridica.Fantasia</td>
                <td>@pessoajuridica.Endereco</td>
                <td>@pessoajuridica.Fones</td>
                <td>@pessoajuridica.Emails</td>

                <td>
                    <a asp-area="" asp-controller="PessoasJuridicas" asp-action="AcaoEditarPessoasJuridicas" asp-route-id="@pessoajuridica.Id"><img style="margin: 2px; width: 32px;" title="Editar pessoa física" src="~/images/editar.svg"></a>
                    <a asp-area="" asp-controller="PessoasJuridicas" asp-action="AcaoFonesPessoaJuridica" asp-route-id_pessoa_juridica="@pessoajuridica.Id" asp-route-razao_social="@pessoajuridica.Razao_social"><img style="margin: 2px; width: 26px;" title="Telefones" src="~/images/fone.svg"></a>
                    <a asp-area="" asp-controller="PessoasJuridicas" asp-action="AcaoEmailsPessoaJuridica" asp-route-id_pessoa_juridica="@pessoajuridica.Id" asp-route-razao_social="@pessoajuridica.Razao_social"><img style="margin: 2px; width: 26px;" title="E-mails" src="~/images/email.svg"></a>
                    <a asp-area="" asp-controller="PessoasJuridicas" asp-action="ExcluirPessoasJuridicas" asp-route-id="@pessoajuridica.Id" onclick=" return Confirmar('Excluir pessoa jurídica?')"><img style="margin: 2px; width: 32px;" title="Excluir pessoa jurídica" src="~/images/excluir.svg"></a>
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || (ViewBag.linhasafetadas == 0 && ViewBag.excluindo))
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.excluindo)
            {
                <h4 style="color : green">pessoa jurídica excluída.</h4>
            }
            else
            {
                @if (ViewBag.pessoasjuridicas.Count == 0)
                {
                    <h5 style="color : red">Nenhum registro encontrado.</h5>
                }
            }

        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>



