﻿
@{
    ViewData["Title"] = "EditarPessoasJuridicas";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Editar Pessoa Jurídica <img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    @if (@ViewBag.id != 0)
    {
        <form asp-controller="PessoasJuridicas" asp-action="EditarPessoasJuridicasPost" method="post" onsubmit="disableObj(SalvarBtn);disableObj(CancelarBtn);showObj(loaderImg)">
            <label for="id">Código: @ViewBag.id</label>
            <input class="input input-sm" id="id" name="id" type="hidden" value="@ViewBag.id" />
            <table id="formularios">
                <tr>
                    <th>
                        <label for="cnpj">CNPJ</label>
                        <br />
                        <input class="input input-sm" id="cnpj" name="cnpj" type="text" value="@ViewBag.cnpj" />
                    </th>
                    <th>
                        <label for="razao_social">Razão Social</label>
                        <br />
                        <input class="input input-sm" id="razao_social" name="razao_social" type="text" value="@ViewBag.razao_social" />
                    </th>
                    <th>
                        <label for="fantasia">Nome Fantasia</label>
                        <br />
                        <input class="input input-sm" id="fantasia" name="fantasia" type="text" value="@ViewBag.fantasia" />
                    </th>
                    <th>
                        <label for="Endereco">Endereço</label>
                        <br />
                        <input class="input input-sm" id="Endereco" name="Endereco" type="text" value="@ViewBag.endereco" />
                    </th>
                </tr>
                <tr>
                    <th>
                        <button class="btn btn-default" id="SalvarBtn" type="submit">Salvar</button>
                        <input class="btn btn-default" id="CancelarBtn" type="button" value="Cancelar" onclick="location.href='@Url.Action("RefazerUltimaConsultaPessoaJuridica", "PessoasJuridicas")'" />
                    </th>
                </tr>
            </table>
        </form>
    }
    else
    {
        <input class="btn btn-default" type="button" value="Voltar" onclick="location.href='@Url.Action("RefazerUltimaConsultaPessoaJuridica", "PessoasJuridicas")'" />
    }
    <hr />
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.linhasafetadas >= 1)
            {
                <h4 style="color : green">Pessoa Jurídica atualizada.</h4>
            }

        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>





