﻿
@{
    ViewData["Title"] = "EmailsPessoaJuridica";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>E-mails<img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    <table id="formularios">
        <tr>
            <th>
                <label for="id_pessoa_juridica">Código: @ViewBag.id_pessoa_juridica</label>
            </th>
            <th>
                <label for="razao_social">Razão Social: @ViewBag.razao_social</label>
            </th>
        </tr>
    </table>
    <hr />

    <form asp-controller="PessoasJuridicas" asp-action="IncluirEmailsPessoaJuridicaPost" method="post" onsubmit="disableObj(ExcluirBtn);disableObj(CancelarBtn);showObj(loaderImg)">
        <table>
            <tr>
                <th>
                    <input class="input input-sm" id="id_pessoa_juridica" name="id_pessoa_juridica" type="hidden" value="@ViewBag.id_pessoa_juridica" />
                    <input class="input input-sm" id="razao_social" name="razao_social" type="hidden" value="@ViewBag.razao_social" />
                    <br />
                    <label for="email">E-mail</label>
                    <br />
                    <input style="width:100%" class="input input-sm" id="email" name="email" type="text" value="@ViewBag.email" />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                    <button class="btn btn-default" id="IncluirBtn" type="submit">Incluir</button>
                    <button class="btn btn-default" id="ConsultaBtn" asp-area="" asp-controller="PessoasJuridicas" asp-action="RefazerUltimaConsultaPessoaJuridica">Voltar</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />

    <table id="consultas">
        <tr>
            <th width=200>E-mail</th>
            <th width=100>Ação</th>
        </tr>
        @foreach (var email_pj in ViewBag.emails_pj)
        {
            <tr>
                <td>@email_pj.Email</td>
                <td>
                    <a asp-area="" asp-controller="PessoasJuridicas" asp-action="ExcluirEmailPessoaJuridica"
                       asp-route-id="@email_pj.Id" asp-route-id_pessoa_juridica="@ViewBag.id_pessoa_juridica" asp-route-razao_social="@ViewBag.razao_social" 
                       onclick=" return Confirmar('Excluir e-mail?')"><img style="margin: 5px; width: 32px;" title="Excluir e-mail" src="~/images/excluir.svg"></a>
                </td>
            </tr>
        }
    </table>

    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>
