﻿
@{
    ViewData["Title"] = "IncluirPessoasJuridicas";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Incluir Pessoa Física <img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />


    <form asp-controller="PessoasJuridicas" asp-action="IncluirPessoasJuridicasPost" method="post" onsubmit="disableObj(IncluirBtn);showObj(loaderImg)">
        <table id="formularios">
            <tr>
                <th>
                    <label for="cnpj">CNPJ</label>
                    <br />
                    <input class="input input-sm" id="cnpj" name="cnpj" type="text" value="@ViewBag.cnpj" />
                </th>
                <th>
                    <label for="razao_social">Razão Social</label>
                    <br />
                    <input class="input input-sm" id="razao_social" name="razao_social" type="text" value="@ViewBag.razao_social" />
                </th>
                <th>
                    <label for="fantasia">Nome Fantasia</label>
                    <br />
                    <input class="input input-sm" id="fantasia" name="fantasia" type="text" value="@ViewBag.fantasia" />
                </th>
                <th>
                    <label for="Endereco">Endereço</label>
                    <br />
                    <input class="input input-sm" id="Endereco" name="Endereco" type="text" value="@ViewBag.endereco" />
                </th>
            </tr>
            <tr>
                <th>
                    <button class="btn btn-default" id="IncluirBtn" type="submit">Incluir</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.id == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            <h4 style="color : green">'Pessoa Jurídica incluída. Código: @ViewBag.id</h4>
        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>
