﻿@{
    ViewData["Title"] = "Login";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">

    <h2>Login <img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>

    <hr />
    <form asp-controller="Auth" asp-action="Login" method="post" onsubmit="disableObj(EntrarBtn);showObj(loaderImg)">
        <table id="formularios">
            <tr>
                <th>
                    <label for="username">Usuário</label>
                    <br />
                    <input class="input input-sm" id="username" name="username" type="text" />
                </th>
                <th>
                    <label for="password">Senha</label>
                    <br />
                    <input class="input input-sm" id="password" name="password" type="password" />
                </th>
            </tr>
            <tr>
                <th>
                    <button class="btn btn-default" id="EntrarBtn" type="submit">Entrar</button>
                    
                </th>
            </tr>
        </table>
    </form>
    <hr />
    <h4 style="color : red">@ViewData["Message"]</h4>

</div>

