﻿
@{
    ViewData["Title"] = "ConsultarGrpProdutos";
}

<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h2>Consultar Grupos de Produtos <img style="width: 28px;" src="~/images/loader.gif" id="loaderImg" hidden></h2>
    </div>
    <hr />
    <form asp-controller="GrpProdutos" asp-action="ConsultarGrpProdutosPost" method="post" onsubmit="disableObj(ConsultarBtn);showObj(loaderImg)">
        <table id="formularios">
            <tr>
                <th>
                    <label for="id">Código</label>
                    <br />
                    <input class="input input-sm" id="id" name="id" type="number" />
                </th>
                <th>
                    <label for="descricao">Descrição</label>
                    <br />
                    <input class="input input-sm" id="descricao" name="descricao" type="text" />
                </th>
            </tr>
            <tr>
        </table>
        <table id="formularios">
            <tr>
                <th>
                    <button class="btn btn-default" id="ConsultarBtn" type="submit">Consultar</button>
                </th>
            </tr>
        </table>
    </form>
    <hr />
    <table id="consultas">
        <tr>
            <th width=50>Código</th>
            <th width=300>Nome</th>
            <th width=300>Icone</th>
        </tr>
        @foreach (var grpproduto in ViewBag.grpprodutos)
        {
            <tr>
                <td>@grpproduto.Id</td>
                <td>@grpproduto.Descricao</td>
                <td>
                    <img src="@grpproduto.Icone" />
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.grpprodutos.Count == 0)
            {
                <h5 style="color : red">Nenhum registro encontrado.</h5>
            }
        }

    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>



