﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - rift_estacionamento</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <table style="width:100%">
            <tr>
                <td width="20%">
                    <img style="margin: 5px 5px; width: 56px;" src="~/images/rift_logo.png"> <h style="color:white"> Rift Estacionamento </h>
                </td>
                <td td width="60%">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                @if (ViewBag.logado == true)
                                {

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pessoa Física <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a asp-area="" asp-controller="PessoasFisicas" asp-action="IncluirPessoasFisicas">Cadastro</a></li>
                                            <li><a asp-area="" asp-controller="PessoasFisicas" asp-action="ConsultarPessoasFisicas">Consulta</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pessoa Jurídica <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a asp-area="" asp-controller="PessoasJuridicas" asp-action="IncluirPessoasJuridicas">Cadastro</a></li>
                                            <li><a asp-area="" asp-controller="PessoasJuridicas" asp-action="ConsultarPessoasJuridicas">Consulta</a></li>
                                        </ul>
                                    </li>

                                    <li><a asp-area="" asp-controller="Auth" asp-action="Logout">Sair</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript" src="~/lib/jquery-mask/masked_input_1.4.1.js"></script>

    <script>
        function disableObj(obj) {
            obj.disabled = true;
        }

        function unabledObj(obj) {
            obj.disabled = false;
        }

        function showObj(obj) {
            obj.hidden = null;
        }

        function Confirmar(mensagem) {
            if (confirm(mensagem))
                return true;
            else
                return false;
        }

        function formatarMoeda(obj) {
            var valor = obj.value;

            if (valor == '') {
                valor = '0';
            }

            valor = valor + '';
            valor = parseInt(valor.replace(/[\D]+/g, ''));
            valor = valor + '';
            valor = valor.replace(/([0-9]{2})$/g, ",$1");

            obj.value = valor;

        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            MaskedInput({
                elm: document.getElementById('cpf'),
                format: '___.___.___-__',
                separator: '-.'
            });

            MaskedInput({
                elm: document.getElementById('cnpj'),
                format: '__.___.___/____-__',
                separator: '/-.'
            });

             MaskedInput({
                elm: document.getElementById('fone'),
                allowed: ' 0123456789',
                format: '(__) _____-____',
                separator: '()- '
            });


        });
    </script>

</body>
</html>
